#load-screen {
background: url(../images/header-back_new.jpg);
position: fixed;
z-index: 10000;
top:0px;
width: 100%;
height: 1600px;

}


#loading {

width: 500px;
height: 500px;
margin: 10% auto;
background: url(../images/Ring-1s-200px.gif);
background-size: 20%;
background-repeat: no-repeat;
background-position: center;

}

.div_margin{
	
	margin-bottom: 45px;
}
